.calculator
  &__wrapper
    // background-color #ccc
  &__slider
    &__wrapper
      display flex
      flex-direction column
      gap 40px
      margin-bottom 32px
    &__section
      display flex
      flex-direction column
      gap 16px
      &__header
        display flex
        justify-content space-between
        align-items flex-end
        div
          font-size 24px
          line-height 28px
          max-width 220px

      &__slider
        background-color black
        width 100%
        height 10px

      &__bottom
        .small-text
          margin-bottom 48px