
.footer
  background-color #aaf
  &__wrapper 
    wrapper-wide()

  &__grid
    background-color #fff
    display flex
    justify-content space-between

  &__brand
    display flex
    width 142px
    svg
      height 26px

  
  &__links
    // background-color #ccc
    display flex
    flex-direction: column
    gap 24px
  
    &__element
      // background-color #ffa

    &:not(.footer__links--social)
      margin-top 12px
            
      li:first-of-type
        font-size 16px
        font-weight 700
        line-height 1.5
        color #8796A7

  &__link 
    nav-link()
    display inline-block
