
.footer
  background-color #aaf
  &__wrapper 
    wrapper-wide()

  &__grid
    background-color #fff
    display flex
    justify-content space-between
  
  &__links
    background-color #ccc
    display flex
    flex-direction: column

  &__link 
    nav-link()
    display inline-block
