
.header
  &__wrapper 
    wrapper()
    display grid
    grid-template-columns 1fr 421px
    gap 56px
    align-items center
  &__title
    span
      font-weight 400
      font-size 32px
      display block
  &__description
    font-size 20px
    line-height 1.6
    margin-top 8px
  &__cta__wrapper
    margin-top 32px
    .small-text
      margin-top 8px






