//
#notSure
  // background-color #faf
  // padding-top 0px
  .section__wrapper
    max-width 770px
    display grid
    grid-template-columns 1fr 290px
    grid-gap 24px
    align-items center
  .cta__wrapper
    margin-top 24px
  