#unmatchedservice
  .section__wrapper
    wrapper-wide()

  .section__title 
    font-size 24px
    margin-bottom 8px
  .section__description
    font-size 14px
    line-height 20px
    margin-bottom 32px
    margin-top 0
  .section__content
    display grid
    grid-template-columns 1fr 1fr 1fr
    gap 24px
    .service
      &__title
        margin-bottom 8px
      &__text
        // background-color #afa
        font-size 14px
        line-height 20px
