  
#faq
  .section__header
    // text-align center
  .section__wrapper 
    wrapper-narrow()
  .section__content
    display flex
    flex-direction column
    gap 24px
    .question-answer
      &__question
        font-size 20px
        margin-bottom 8px
      &__answer
        font-size 16px
        line-height 24px

