section.section#footer
  .section__wrapper
    .footer__grid
      .logo
        a(href="#") Outfund
      .footer__links--company
        ul.links
          li.links__element Company
          li.links__element
            a(href="#") About us
          li.links__element
            a(href="#") Careers
          li.links__element
            a(href="#") Blog
      .footer__links--funding
        ul.links
          li.links__element Funding
          li.links__element
            a(href="#") How it works
          li.links__element
            a(href="#") Check eligibility
          li.links__element
            a(href="#") Success Stories
          li.links__element
            a(href="#") Partners
      .footer__links--support
        ul.links
          li.links__element Support
          li.links__element
            a(href="#") FAQs
          li.links__element
            a(href="#") Contact us
          li.links__element
            a(href="#") Help articles
          li.links__element
            a(href="#") Speak to an expert
      .footer__links--available
        ul.links
          li.links__element We are available in
          li.links__element
            a(href="#") Australia
          li.links__element
            a(href="#") Germany
          li.links__element
            a(href="#") Ireland
          li.links__element
            a(href="#") Netherlands
          li.links__element
            a(href="#") Spain
          li.links__element
            a(href="#") United Kingdom
          li.links__element
            a(href="#") United States
    .notice Outfund is the trading name of MTL Financial LTD, which is a Lender. MTL Financial LTD is also authorised and regulated by the Financial Conduct Authority (FCA) as an e-money institution.
    .bottom
      .copyright Copyright © 2023 Outfund. All rights reserved.
      .bottom--links
        ul.links
          li.links__element
            a(href="#") Privacy Policy
          li.links__element
            a(href="#") Cookie policy
