- var services = [{icon: "icon", title: "Regulated by the FCA", text: "We're regulated by the FCA in the UK and uphold stringent requirements to the highest standards"}, {icon: "icon", title: "Data protection", text: "Your security is our priority. We're committed to keeping your business data safe, and we're transparent in how we collect, process, and store it."}, {icon: "icon", title: "24/7 support", text: "Our platform support team is available 24/7. Their mission is to make things easy for you."}  ]

section.section#service
  .section__wrapper
    .section__header
      h2.section__title Delivering unmatched service
      p.section__description We're on your side. We've invested millions into thousands of businesses around the world. We've been supported with £100m by leading investors, including Fuel Ventures, Force Over Mass, and TMT Investments, among others. Our backers have previously invested in global businesses like Deliveroo, Facebook, Bolt, Heroes, and Paddle. And now we want to help every founder build their own vision.
    .section__content
      .section__grid
        each service in services
          .service
            div.service__logo= service.icon
            div.service__text= service.title
            div.service__src= service.text
