.calculator 
  .calculator__wrapper 
    .calculator__slider__section
      h4.calculator__title How much funding do you need?
      p.calculator__requested__ammount £500 000
      .calculator__slider
    .calculator__slider__section 
      h4.calculator__title Repayment length
      p.calculator__term 6 months
      .calculator__slider
    .calculator__slider__section
      h4.calculator__total__repayable
      p.calculator__total__repayable__amount £530,000
    p.calculator__note * This calculator is only an example, your actual total repayable will vary based on your circumstances.
    .calculator__cta__wrapper
      a.cta--primary(href="/apply") Apply now
      .note Applying will not affect your credit score