nav.navigation 
  .navigation__wrapper 
    a.navigation__link(href="/") 
      img.navigation__logo(src="/images/logo.svg" alt="Outfund logo")
    
    ul.navigation__list
      li.navigation__list__item
        a.navigation__list__link(href="/how-fundign-works") How funding works?
      li.navigation__list__item
        a.navigation__list__link(href="/about-us") About us
      li.navigation__list__item
        a.navigation__list__link(href="/support/faq") FAQs

    ul.navigation__list
      li.navigation__list__item
        a.navigation__list__link(href="/login") Login
      li.navigation__list__item
        ul.country__list 
          li.country__list__item
            span icon
            a.country__list__link(href="/") United Kingdom
