.heroBox {
  background-color: var(--color-bg-dark);

  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  font-size: 64px;
  font-weight: 800;
  line-height: 60px;
}

.description {
  font-weight: 500;
  letter-spacing: -0.03em;
  font-size: 18px;
  line-height: 32px;
  margin-bottom: 40px;
}

.left {
  // background-color: #faf;
  padding: 56px 0 56px 100px;
}
.right {
  justify-self: center;
  align-self: flex-end;
  display: flex;
  // img {
  //   background-color: #fff;
  // }
}

.note {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-body);
  margin-top: 8px;
}
