.heroBox {
  background-color: var(--color-bg-dark);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  // background-color: #faf;
  padding: 56px 0 56px 100px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.right {
  justify-self: center;
  align-self: flex-end;
  display: flex;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
