.heroBox {
  background-color: var(--color-bg-dark);
  border-radius: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  // background-color: #faf;
  padding: 56px 0 56px 100px;
}
.right {
  justify-self: center;
  align-self: flex-end;
  display: flex;
}

.note {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-body);
  margin-top: 8px;
}
