table
  thead
    tr
      th.desc
      th.of.first Outfund
      th Bank loan
      th Venture capital
  tbody
    tr
      td.desc Cost
      td.of One fixed fee
      td Interest
      td Equity
    tr
      td.desc Time to funding
      td.of Days
      td Weeks
      td Months
    tr
      td.desc Amount
      td.of £10K - £10M
      td £20K - £1M
      td £100K - £1M+
    tr
      td.desc Repayments
      td.of Flexible / Fixed
      td Fixed
      td n/a
    tr
      td.desc Value added service
      td.of Yes
      td No
      td Yes (ish)
    tr
      td.desc % of the company
      td.of.last No
      td No
      td Yes

