section.section#partners
  .section__wrapper
    .section__text__wrapper
      h2.section__subtitle A portfolio of partners
      h3.section__subtitle--light Helping you grow
    .section__logos__wrapper
      include ./../../assets/svg/logo-aws.svg
      include ./../../assets/svg/logo-payfit.svg
      include ./../../assets/svg/logo-klaviyo.svg
      include ./../../assets/svg/logo-wise.svg
      include ./../../assets/svg/logo-triple-whale.svg
      include ./../../assets/svg/logo-xero.svg
      include ./../../assets/svg/logo-shipbob.svg