*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

a {
  background-color: transparent;
  /* text-decoration: none; */
}

/* a:focus {
  text-decoration: underline !important;
  outline: 2px solid var(--color-cobalt);
  outline-offset: 2px;
} */

img {
  border-style: none;
}

a,
p,
div,
li,
ul,
button,
textarea,
input,
select {
  margin: 0;
  padding: 0;
  letter-spacing: -0.02em;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-size: 100%;
  font-family: inherit;
  line-height: 1.15;
  letter-spacing: -0.03em;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

[hidden] {
  display: none;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading);
  margin: 0;
  text-rendering: geometricPrecision;
  letter-spacing: -0.02em;
}

p {
  color: var(--color-body);
}

a,
p,
div,
li,
button,
textarea,
input,
select {
  text-rendering: geometricPrecision;
}

li {
  list-style: none;
}
