.global {
  // Variables
  --color-white: #fff;
  --color-body: #1c3654;
  --color-heading: #0c2542;
  --color-cobalt: #003edb;

  --color-bg-light: #f8fafc;
  --color-bg-medium: #f0f4f9;
  --color-bg-dark: #e3ebf2;
}
