.h4 {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

.note {
  font-size: 12px;
  line-height: 16px;
  color: var(--color-body);
  font-weight: 500;
  // margin-top: 8px;

  letter-spacing: 0em;
  opacity: 0.7;
}
