//

wrapper-shared()
  width: 100%;
  margin-left: auto;
  margin-right: auto;

wrapper()
  max-width: 970px
  wrapper-shared()


wrapper-nav()
  max-width: 1442px
  wrapper-shared()

wrapper-wide()
  max-width: 1170px
  wrapper-shared()
