//

wrapper-shared()
  width: 100%;
  padding-left 16px
  padding-right 16px
  margin-left: auto;
  margin-right: auto;

wrapper()
  max-width: 1002px
  wrapper-shared()


wrapper-nav()
  max-width: 1474px
  wrapper-shared()

wrapper-wide()
  max-width: 1202px
  wrapper-shared()

wrapper-medium()
  max-width: 1062px
  wrapper-shared()

wrapper-narrow()
  max-width: 802px
  wrapper-shared()
