h1,
h2,
h3,
h4,
h5,
h6 
  margin 0
  line-height 1.2


h1,
h2,
h3 
  font-weight 700
  text-rendering optimizeLegibility
  letter-spacing: -0.02em;

h1
  font-size 48px


.small-text
  font-size 12px
  font-weight 400
  opacity 0.5


p,a
  color var(--color-light-azure-100)