
:root
  --black: #000
  --color-light-cobalt-100: #003EDB
  --color-light-cobalt-200: #0032B0

  --color-light-sky-100: #79DCF2

  --color-light-azure-100: #1C3654

  --color-light-air-100: #F2F6FA
  